{% extends "basePost.html" %}

{% block title %}Sigh{% endblock %}

{% block post_content %}
<div class="header">
    Sigh
</div>
<hr class="rounded">
<div class="numbered-paragraphs content">
    <p>
        What is there that needs to be said. Making a website is tiring. I suppose in some way it is my own self feeling vastly inadequate in a world of enormity. I look up and out, imagining myself in the eyes of some heavenly deity, and see that vast interconnected world below me. I watch as a billion minds think a billion thoughts and find myself meagerly infinitesimal in the torrents of their thoughts.
    </p>
    <div class="right-align">
        23:40 July 20 2024
    </div>
</div>
{% endblock %}
