{% extends "basePost.html" %} {% block title %}Mournings at Night{% endblock %} {% block post_content %} <div class="header"> Mournings at Night </div> <hr class="rounded"> <div class="numbered-paragraphs content">
<p>In the darkness, there are mournings.</p>
<p>Mournings for those hidden things, things between walls and floors.</p>
<p>To grieve for a shadow of an existence temporary, is akin to grieving for one's own death before it comes about.</p>
<p>Mournings are for light, shining and sheening, like reflections in glass.</p>
<p>Yet we cannot help ourselves from lamentation. We are nothing but the produce of emotion; plants still in the night.</p>
<p>What else can be said, for drifting and growth. What else can be said, for the mournings at night?</p>
<p>Close your eyes tight, lest the dark ever bright, for in shadow and shade, we can lament only night.</p>
<div class="right-align"> Night of August 22 2024 </div> </div> {% endblock %}