{% extends "basePost.html" %} {% block title %}Garden{% endblock %} {% block post_content %} <div class="header"> Garden </div> <hr class="rounded"> <div class="numbered-paragraphs content">
<p>Like the mythic birds of the north, I feel fear draining to my face. I lay, I stand, I sit, I am scared.</p>
<p>To let out into the world, I fear my own failure, my own inability to grapple the impossible task that is my life.</p>
<p>I'm not sure what to write except that I am scared. I want a hug so tight it hides me from the world's aches.</p>
<p>Sometimes, I need to be more like the windy trees. I need to let, as the great messiah, the violent vibrant forces of life pass over me and through me. I must turn and realize they have gone, and only then, absolution.</p>
<div class="right-align"> Noon on September 29 2024 </div> </div> {% endblock %}