:root {
    --bg-color: #0D0D0D; /* 0D0D0D */
	--bg-color-light10: #252525;
	--bg-color-light20: #3d3d3d;
    /* --primary-color: #D9CBBA; */
    --primary-color: #6088ff;
	--text-color: var(--primary-color);
	--text-link-color: var(--primary-color);
}

@keyframes hueRotate {
	0% { filter: hue-rotate(0deg); }
	25% { filter: hue-rotate(50deg); }
	75% { filter: hue-rotate(-30deg); }
	100% { filter: hue-rotate(0deg); }
}

body {
	margin: 0;
	height: 100vh;
	min-height: 100vh;

	box-sizing: border-box;
	position: relative;
	/* font-family: 'Inknut Antiqua', serif; */
	color: var(--text-color);
	font-weight: 300;
	line-height: 22px;
	z-index: -2;
}

#app {
	box-sizing: border-box;
	height: 100%;

	display: flex;
	flex-direction: column;
	
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.bg-layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #6784a4;
    background-image: url('/images/peter-aroner-fog-cropped.jpg');
    background-position: top;
    background-size: cover;
	animation: hueRotate 40s linear infinite;
	z-index: -1;
}

/* What blends */
h1, h2, h3, nav a, p, hr, RouterLink {
	will-change: opacity, transform;
    mix-blend-mode: difference;
}

header {
	letter-spacing: 8%;
}

.header-top {
	display: flex; /*edit this to be cool when small*/
	justify-content: space-between;
	align-items: baseline;
}

h1 {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 3.2em;
	line-height: 1.1;
}

h2 {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 1.6em;
	line-height: 0.4;
}


h3 {
	font-weight: bold;
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
}

li::marker {
	content: ">";
	margin-left: 0;
	padding-left: 0;
}

a {
	text-decoration: none;
	color: var(--text-link-color);
}

.a-nav {
	margin-left: 20px;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.main-container {
	box-sizing: border-box;
	max-width: 1140px;
	min-width: 652px;
	height: 100%;
	margin: 0 auto;
	padding: 0px;
	display: flex;
	flex-direction: column;
	flex: 0;
}

/* applied with meta data */
.main-container.full-flex {
	width: 100%;
	flex: 1;
}

/* This will look for any glass inside a main container full flex*/
.main-container.full-flex .glass {
	width: 100%;
	height: 100%;
}

.short-content-container {
	max-width: 550px;
	line-height: 22px;
}

.wide-button {
	width: 200px;
	padding: 10px
}

p {
	padding: 0px;
	margin: 0px;
}

hr {
	display: block;
	overflow: visible;
	width: 100%;
	border: none;
	border-top: 1px solid var(--primary-color);
	position: relative;
}
hr::before,
hr::after {
	content: '';
	position: absolute;
	top: -4px; /*divide hight by 2 + 1px*/
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 5px 0 5px;
	border-color: var(--primary-color) transparent transparent transparent;
}
hr::before {
	left: -1.5px;
	transform: rotate(270deg);
}
hr::after {
	right: -1.5px;
	transform: rotate(90deg);
}

hr.clean::before,
hr.clean::after {
	content: none;
}

.glass {
	position: relative;
	border-radius: 16px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	overflow: hidden;

	box-shadow: 0 0 20px 6px rgba(255, 255, 255, 0.3);
}

.glass-inner {
	box-shadow: inset 0 0 1px 0px rgba(255, 255, 255, 0.3);
	border-radius: 12px;
	/* or 0 0 4px 2px rgba(107, 130, 180, 0.38)*/
}

.glass-sheen::before {
	content: "";
	position: absolute;
	inset: -50%;
	height: 73%;
	top: 19%;
	background: linear-gradient(
	  120deg,
	  rgba(255,255,255,0) 30%,
	  rgba(255,255,255,0.4) 50%,
	  rgba(255,255,255,0) 70%
	);
	transform: translateX(-100%) rotate(45deg);
	transition: transform 1.2s ease-in-out;
	pointer-events: none;
}

/* .glass-sheen:hover::before { to appease linter } */

.glass-sheen.sheen-active::before {
	transform: translateX(100%) rotate(45deg);
}

.glass-panel {
	position: absolute;
	inset: 0; /* This is what makes it fill the parrent*/
	z-index: 0;
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.05);
	pointer-events: none;
}

.glass-content {
	padding: 1.5rem;
	z-index: 1;
	box-sizing: border-box;
}

.main-landing-content-grid {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	grid-template-areas: 
		"pic projects"
		"description projects";
	gap: 1rem;
	align-items: start;
}

.me {
	grid-area: pic;
	width: 200px;
	height: 200px;
	transform: scale(-1, 1);

	border-radius: 12px;
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 20px 6px rgba(255, 255, 255, 0.3);
}

.description {
	grid-area: description;
	text-align: left;
	padding-bottom: 8px;
	min-width: 200px;
}

.projects {
	grid-area: projects;
	height: 100%;
}