{% extends "base.html" %}
{% block title %}Vena's Doodles{% endblock %}
{% block content %}
    <div class="container-height">
    <div class="container-width">
    <div class="container-grid">
        <div class="left-column">
            <div class="header">
                Vena
            </div>
            <div class="block-top">  
                <hr class="accent">
                <div class="block-text-inset">
                    <b>
                        Hey, I'm Vena!
                    </b>
                    <hr  class="extended accent">
                    <hr  class="extended accent">
                    <p align="center">
                        I'm a 20 year old developer from California and have been coding since I was 13. I've always been comfortable with lower level languages such as C++ and Assembly, however I've recently been learning more about full stack development. This website at large is my current attempt at a few different projects in this, dare I say, brave new world.
                    </p>
                    <p align="right">
                        "Ain't no way I'm ever gonna get hired to do anything." - Vena
                    </p>
                </div>
            </div>
        </div>

        <div class="right-column">
            <!-- More content goes here -->
            <a href="/doesntExist/" class="button">Resume!</a>
            <a href="/posts/" class="button">Blog!</a>
            <a href="/doesntExist/" class="button">Timeline!</a>
            <a href="/todo/" class="button">Todo!</a>
            <a href="/doesntExist/" class="button">Writings!</a>
            <a href="/art/" class="button">Draw!</a>
        </div>
    </div>
    </div>
    </div>
{% endblock %}
