<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vena's Doodles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        Vena's Doodles and Writings
    </div>
    <hr>
    <div class="main">
        <style>
            p {
                text-align: center;
            }
        </style>
        <p class="content" style="padding: 20px;">Welcome to my blog about doodles and sketches!</p>
        <!-- More content goes here -->
        <a href="/art/" class="button">Draw!</a>
        <a href="/posts/" class="button">Blog!</a>
    </div>
    {% include "navbar.html" %}
</body>
</html>