<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>New Landing</title>
	<link rel="preload" as="image" href="/static/images/peter-aroner-fog-cropped.jpg">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style_new.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<!-- <link rel="preload" href="/static/images/peter-aroner-fog.jpg" as="image"> -->
<body>
	<div class="bg-layer"></div>
	<div class="main-container">
		<div class="content-container">
			<header>
				<div class="header-top">
					<h1>Vena Maybe</h1>
					<nav>
						<a href="">Me</a>
						<a href="">Projects</a>
						<a href="/posts/">Writing</a>
						<a href="">Resume</a>
					</nav>
				</div>
			</header>
		</div>
		<hr>
		<div class="glass glass-sheen">
			<div class="glass-panel"></div>
			<div class="glass-content main-landing-content-grid">


				<img src="/static/images/me.jpeg" class="me">


				<div class="content-container">
					<div class="short-content-container">
						<p>
							I'm Vena — a student at the City College of San Francisco and currently pursuing a dual major in Computer Engineering and Business. I love to yap about anything and everything that falls under the purview of my interests. Whether it's C++, writing short stories, or the weird things my friends get up to, let me share those stories with you :)
						</p>
					</div>
				</div>

				<div id="projects-lister-app" class="glass glass-inner projects">
					<div class="glass-panel-inner"></div>
					<div class="glass-content">
						<!-- <ul>
							<li v-for="proj in projects" :key="proj.id" class="project-item">
								<h3><a :href="proj.url" target="_blank">{===={ proj.name }}</a></h3>
								<p>{===={ proj.desc ZZ}}</p>
							</li>
						</ul> -->
						<p>
							Meowdy
							<br>
							<br>
							The projects will go here!!
						</p>
					</div>
				</div>

				
			</div>
		</div>
		<hr>
	</div>
</body>
</html>
