{% extends "base.html" %}
{% block title %}Vena's Doodles{% endblock %}
{% block content %}
    <div class="container-height">
    <div class="container-width" max-width="350px">

    <div class="header">
        Vena's Poems and Posts
    </div>
	<hr class="rounded">
    <h1>Weary Traveler, Thoughts Abound</h1>

    {% if posts %}
        {% for post in posts %}
            <a href="{{ url_for('views.post', post_name=post.link) }}" class="button">{{ post.display }}</a>
            <hr class="invis">
        {% endfor %}
    {% else %}
        <p>No posts available.</p>
    {% endif %}
	
    </div>
    </div>
{% endblock %}