{% extends "base.html" %}
{% block title %}Vena's Doodles{% endblock %}
{% block content %}
	<div class="header">
		To-Do List
	</div>
	<hr>
	<div class="outer-form">
		<form action="/add" method="post">
			<input type="text" name="todo" placeholder="Enter a new to-do item" class="input-todo">
			<button type="submit" class="btn-add-form">Add</button>
		</form>
	</div>
    <ul id="todo-list">
        {% for todo in todos %}
            <li data-id="{{ todo.id }}">{{ todo.text }} <a href="{{ url_for('remove', todo_id=todo.id) }}" class="btn-remove">Remove</a></li>
        {% endfor %}
    </ul>

	<script type="module" src="{{ url_for('static', filename='js/Sortable.js') }}"></script>
	<script type="module" src="{{ url_for('static', filename='js/todo.js') }}"></script>
{% endblock %}