{% extends "base.html" %}
{% block title %}Vena's Doodles{% endblock %}
{% block content %}
	<div class="container-width">
		<div class="header">
			To-Do List
		</div>
		<hr>
		<div class="outer-form">
			<form id="add-todo-form">
				<input type="text" name="todo" placeholder="Enter a new to-do item" class="input-todo">
				<button type="submit" class="btn-add-form">Add</button>
			</form>
		</div>
		<ul id="todo-list" data-id="todo-data-id">
			{% for todo in todos %}
				<li data-id="{{ todo.id }}">{{ todo.text }} <button href="#" class="btn-remove" data-id="{{ todo.id }}">Remove</button></li>
			{% endfor %}
		</ul>
	</div>

	<!-- Socket.IO Library -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js" crossorigin="anonymous"></script>
	<!-- Sortable Library -->
	<script type="module" integrity="sha512-DZvUQDScWuRZmCP/x6c+u0RRAolRBnt+oJusn1sc1cV8gtQQEt+cxKUw8EBvP+gGLUxMr26JUyRMBP0NymoK8A==" src="{{ url_for('static', filename='js/sortable.esm.js') }}"></script>
	<!-- Custom JavaScript Files -->
	<script type="module" src="{{ url_for('static', filename='js/todo_socket.js') }}"></script>
	<script type="module" src="{{ url_for('static', filename='js/todo_domExports.js') }}"></script>
	<script type="module" src="{{ url_for('static', filename='js/todo_sortable.js') }}"></script>
	<script type="module" src="{{ url_for('static', filename='js/todo_ajax.js') }}"></script>
	<script type="module" src="{{ url_for('static', filename='js/todo_lockManager.js') }}"></script>
	<script type="module" src="{{ url_for('static', filename='js/todo_socketLocks.js') }}"></script>
{% endblock %}