{% extends "base.html" %}
{% block title %}Vena's Doodles{% endblock %}
{% block content %}
	<div class="header">
		To-Do List
	</div>
	<hr>
	<div class="outer-form">
		<form id="add-todo-form">
			<input type="text" name="todo" placeholder="Enter a new to-do item" class="input-todo">
			<button type="submit" class="btn-add-form">Add</button>
		</form>
	</div>
	<ul id="todo-list">
		{% for todo in todos %}
			<li data-id="{{ todo.id }}">{{ todo.text }} <a href="#" class="btn-remove" data-id="{{ todo.id }}">Remove</a></li>
		{% endfor %}
	</ul>
	<ul id="rats"></ul>

	<!-- Socket.IO Library -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
	<!-- Sortable Library -->
	<script type="module" src="{{ url_for('static', filename='js/sortable.esm.js') }}"></script>
	<!-- Custom JavaScript Files -->
	<script type="module" src="{{ url_for('static', filename='js/todo_domExports.js') }}"></script>
	<script type="module" src="{{ url_for('static', filename='js/todo_socket.js') }}"></script>
	<script type="module" src="{{ url_for('static', filename='js/todo_sortable.js') }}"></script>
	<script type="module" src="{{ url_for('static', filename='js/todo_ajax.js') }}"></script>
	<script type="module" src="{{ url_for('static', filename='js/todo_lockManager.js') }}"></script>
	<script type="module" src="{{ url_for('static', filename='js/todo_socketLocks.js') }}"></script>
{% endblock %}